
<footer class="p-4 md:flex md:items-center md:justify-between md:p-6 border-t border-[#4a6559]">
    <span class="text-sm text-[#2d6a4f] sm:text-center">© 2022 Samantha Zenezi</span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-[#2d6a4f] sm:mt-0">
        <li class="flex items-center gap-1">
            <img src="assets/github.svg" class="w-5">
            <a href="https://github.com/samanthazenezi" target="_blank" class="mr-4 hover:underline md:mr-6 ">GitHub</a>
        </li>
        <li class="flex items-center gap-1">
            <img src="assets/linkedin.svg" class="w-5">
            <a href="https://www.linkedin.com/in/samantha-zenezi-a48578239/" target="_blank" class="mr-4 hover:underline md:mr-6">Linkedin</a>
        </li>
    </ul>
</footer>

