<div id="projetos" class="md:py-32 py-20">
    <h1 class="text-[#4a6559] md:text-[3rem] text-[1.5rem] md:py-5 py-3">Projetos</h1>
    <ol class="relative border-l border-[#4a6559]">                  
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-[#4a6559] rounded-full mt-1.5 -left-1.5 border border-white"></div>
            <time class="mb-1 text-sm font-normal leading-none text-[#4a6559]">February 2022</time>
            <h3 class="text-lg font-semibold text-[#4a6559]">Application UI code in Tailwind CSS</h3>
            <p class="mb-4 text-base font-normal text-[#4a6559]">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
        </li>
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-[#4a6559] rounded-full mt-1.5 -left-1.5 border border-white"></div>
            <time class="mb-1 text-sm font-normal leading-none text-[#4a6559]">March 2022</time>
            <h3 class="text-lg font-semibold text-[#4a6559]">Marketing UI design in Figma</h3>
            <p class="text-base font-normal text-[#4a6559]">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
        </li>
        <li class="ml-4">
            <div class="absolute w-3 h-3 bg-[#4a6559] rounded-full mt-1.5 -left-1.5 border border-white"></div>
            <time class="mb-1 text-sm font-normal leading-none text-[#4a6559]">April 2022</time>
            <h3 class="text-lg font-semibold text-[#4a6559]">E-Commerce UI code in Tailwind CSS</h3>
            <p class="text-base font-normal text-[#4a6559]">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
        </li>
    </ol>    
</div>


